.our-team 
    min-height: 283px
    &__title
        color: #314a5b
        font-family: Montserrat
        font-size: 32px
        font-weight: 700
        line-height: 53.86px
        text-transform: uppercase
        letter-spacing: -0.48px
        span
            color: #f0454c
            letter-spacing: -0.48px 
    &__subtitle
        // width: 214px
        // height: 17px
        color: #9aa0ab
        font-family: "Open Sans"
        font-size: 16px
        font-weight: 400
        line-height: 20px
    &__blocks
        display: flex
        flex-direction: row
        margin-top: 40px
    &__item
        display: flex
        width: 33%
    &__logo
        display: flex
        flex-direction: row
        width: 120px
        height: 120px
        img 
            width: 100%
    &__descr
        display: flex
        flex-direction: column
        width: 156px
        margin-left: 20px
        &-title
            // width: 58px
            // height: 17px
            color: #314a5b
            // font-family: Montserrat
            font-size: 22px
            font-weight: 700
            line-height: 53.86px
            text-transform: uppercase
            // Text style for "J, oey"
            letter-spacing: -0.33px
        &-subtitle
            // width: 99px
            // height: 15px
            color: #f0454c
            font-family: "Open Sans"
            font-size: 14px
            font-weight: 400
            line-height: 20px
    &__text
        // width: 134px
        // height: 32px
        color: #9aa0ab
        font-family: "Open Sans"
        font-size: 14px
        font-weight: 400
        line-height: 20px
    &__link
        display: flex
        justify-content: flex-end
        color: #f0454c
        font-family: Montserrat
        font-size: 14px
        font-weight: 700
        text-transform: uppercase
        cursor: pointer
        margin-top: 29px
        ::after
                content: " \2192"

@media (max-width: 1200px) 
    .our-team 
        &__logo
            width: 83px
            height: 83px
            img 
                width: 100%

@media (max-width: 992px) 
    .our-team 
        &__title
            font-size: 30px
        &__logo
            width: 55px
            height: 55px
            img 
                width: 100%
        &__descr
            width: 130px
            margin-left: 14px
            &-title
                font-size: 20px

@media (max-width: 768px) 
    .our-team 
        &__title
            font-size: 26px
            margin: 0px
        &__subtitle
            font-size: 14px
            line-height: 10px
        &__blocks
            display: flex
            flex-direction: column
            margin-top: 40px
        &__item
            display: flex
            width: 100%
        &__logo
            display: flex
            flex-direction: row
            width: 100px
            height: 100px
            img 
                width: 100%
        &__descr
            display: flex
            flex-direction: column
            width: 200px
            margin-left: 40px
            &-title
                line-height: 40px
            &-subtitle
                line-height: 20px
        &__link
            margin-top: 10px

@media (max-width: 576px) 
    .our-team 
        &__title
            font-size: 26px
            margin: 0px
            margin-top: 25px

@media (max-width: 480px) 
    .our-team 
        &__title
            text-align: center
        &__subtitle
            text-align: center
        &__logo
            display: block
            width: 100px
        &__descr
            margin-left: 10px
        &__link
            margin-top: 10px