.portfolio
    min-height: 846px
    background-color: white
    padding: 0 305px 105px 219px
    &_wrapper
        display: flex
        justify-content: space-between
        flex-direction: row
        flex-wrap: nowrap
        align-items: flex-start
        &__img
            display: flex
            width: 30% 
        &__descr 
            display: flex
            flex-direction: column
            width: 50%
            padding-top: 40px
        &__title
            // width: 233px
            // height: 30px
            color: #314a5b
            font-family: Montserrat
            font-size: 40px
            font-weight: 700
            line-height: 46px
            text-transform: uppercase
            // Text style for "p, ortfoli"
            letter-spacing: -1.2px
            // Text style for "."
                span
                color: #f0454c
                letter-spacing: -1.2px
        &__subtitle
            // width: 223px
            // height: 17px
            color: #314a5b
            // font-family: "Open Sans"
            font-size: 16px
            font-weight: 400
            line-height: 20px
        &__text
            width: 367px
            height: 104px
            color: #9aa0ab
            // font-family: "Open Sans"
            font-size: 15px
            font-weight: 400
            line-height: 22px
        &__link
            color: #f0454c
            font-family: Montserrat
            font-size: 14px
            font-weight: 700
            text-transform: uppercase
            cursor: pointer
            margin-top: 29px