.portfolio
    min-height: 406px
    background-color: white
    padding: 0px 0px 105px 0px
    &_wrapper
        display: flex
        justify-content: space-between
        flex-direction: row
        flex-wrap: nowrap
        align-items: flex-start
        &__img
            display: flex
            width: 50%
            height: auto 
        &__descr 
            display: flex
            flex-direction: column
            width: 70%
            padding-top: 40px
        &__title
            color: #314a5b
            font-family: Montserrat
            font-size: 40px
            font-weight: 700
            line-height: 46px
            text-transform: uppercase
            letter-spacing: -1.2px
            span
                color: #f0454c
                letter-spacing: -1.2px
        &__subtitle
            color: #314a5b
            font-family: "Open Sans"
            font-size: 16px
            font-weight: 400
            line-height: 20px
        &__text
            width: 367px
            height: 104px
            color: #9aa0ab
            font-family: "Open Sans"
            font-size: 15px
            font-weight: 400
            line-height: 22px
        &__link
            color: #f0454c
            font-family: Montserrat
            font-size: 14px
            font-weight: 700
            text-transform: uppercase
            cursor: pointer
            margin-top: 29px
            ::after
                content: " \2192"

@media (max-width: 1200px)
    .portfolio
        &_wrapper
            &__img
                width: 55% 
            &__descr 
                width: 45%

@media (max-width: 992px) 
    .portfolio
        padding-bottom: 60px
        &_wrapper
            &__img
                img
                    max-height: 336px
                    max-width: 100%
            &__descr 
                width: 40%
            &__title
                font-size: 36px
            &__subtitle
                font-size: 14px
            &__text
                width: 260px
                font-size: 13px

@media (max-width: 768px) 
    .portfolio
        padding-bottom: 20px
        &_wrapper
            &__img
                img
                    max-height: 336px
                    max-width: 100%
            &__descr 
                width: 42%
            &__title
                font-size: 30px
            &__subtitle
                font-size: 13px
            &__text
                width: 220px
                font-size: 13px        
            &__link
                margin-top: 30px

@media (max-width: 576px) 
    .portfolio
        &_wrapper
            display: flex
            justify-content: space-between
            flex-direction: column
            flex-wrap: wrap
            align-items: center
            &__title
                margin: 0px
            &__subtitle
                margin-top: 1px
                font-size: 13px
            &__img
                display: block
                position: absolute
                top: 205%
                left: 25%
                img
                    max-height: 336px
                    max-width: 100%
            &__descr 
                display: flex
                flex-direction: column
                align-items: center
                width: 100%
                margin-top: 250px
            &__text
                width: 70%
                font-size: 13px 
                text-align: center       
            &__link
                margin-top: 20px

@media (max-width: 480px) 
    .portfolio
        &_wrapper
            &__img
                display: block
                position: absolute
                top: 214%
                left: 25%
                img
                    max-height: 300px
                    max-width: 120%
            &__text
                width: 80%    
            &__link
                margin-top: 45px
