.snippet
    padding: 82px 0px 104px 0px
    background-color: white
    &__items
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-between
        list-style-type: none
    .snippet-block
        width: 30%
        &__subtitle>h2
            max-width: 220px
            height: 46px
            color: #465065
            font-size: 26px
            font-weight: 700
            line-height: 36px
            text-transform: uppercase
            span
                color: #f0454c
        &__text
            color: #9aa0ab
            font-family: "Open Sans"
            font-size: 15px
            font-weight: 400
            line-height: 22px
            margin-top: 26px
        &__link
            color: #f0454c
            font-family: Montserrat
            font-size: 14px
            font-weight: 700
            text-transform: uppercase
            cursor: pointer
            margin-top: 29px
            ::after
                content: " \2192"

@media (max-width: 992px) 
    .snippet
        padding-bottom: 60px
        &__items
        .snippet-block
            // width: 25%
            &__subtitle>h2
                max-width: 94%
                font-size: 20px
                line-height: 26px
            &__text
                max-width: 88%
                font-size: 14px

@media (max-width: 768px) 
    .snippet
        padding: 45px 0px 50px 0px
        &__items
        .snippet-block
            width: 30%
            &__subtitle>h2
                max-width: 96%
                font-size: 16px
                line-height: 22px
            &__text
                margin-top: 16px
                max-width: 100%
                font-size: 13px

@media (max-width: 576px) 
    .snippet
        padding: 40px 0px 30px 0px
        &__items
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            list-style-type: none
        .snippet-block
            width: 75%
            &__subtitle>h2
                max-width: 100%
                height: auto
                margin: 0
            &__text
                margin-top: 10px

            &__link
                margin-top: 10px
                margin-bottom: 30px